/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

button:hover {
  cursor: pointer;
}

/*end reset*/
:root {
  scroll-behavior: smooth;
  font-size: 62.5%;
  --purple: #8317ce;
  --pink: #b622f4;
  --light-gray: #b2b2b2;
  --gray: #262431;
  --white: #ffffff;
  --purple-gradient: linear-gradient(90deg, var(--purple), var(--pink));
  --regular: 400;
  --semi-bold: 600;
  --bold: 700;
}
body {
  background-color: #1d041f;
}

h1 {
  font-family: 'Urbanist', sans-serif;
  color: var(--white);
  font-size: 7rem;
  font-weight: var(--regular);
}
h1 span {
  font-weight: var(--bold);
}
h2 {
  font-family: 'Urbanist', sans-serif;
  color: var(--white);
  font-size: 4rem;
}
a {
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
}
li {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  color: var(--white);
}
p {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  color: var(--white);
}
p span {
  font-weight: var(--bold);
}
.container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

.bg_video {
  right: 0;
  width: 100%;
  height: auto;
  z-index: 0;
  background-size: cover;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
}

.btn {
  border-radius: 5rem;
  font-weight: var(--bold);
  padding: 1rem 3rem;
}

.btn-purple-pink {
  color: var(--white);
  background: var(--purple-gradient);
}
.box-gradient-border {
  background: linear-gradient(90deg, #8217cd, #291349);
  padding: 0.2rem;
  border-radius: 2rem;
  animation: teste 3s linear infinite;
}
@keyframes teste {
  0% {
    background: linear-gradient(90deg, #8217cd, #291349);
    background-position: 0%;
  }

  100% {
    background: linear-gradient(90deg, #8217cd, #291349);
    background-position: 100%;
  }
}
.box-gradient-border-content {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #311356, #291349);
  padding: 2rem;
  border-radius: 2rem;
}
.circle-gradient-border {
  width: fit-content;
  background: linear-gradient(40deg, #7316b6, #2e1351);
  padding: 0.2rem;
  border-radius: 100%;
}
.circle-gradient-border-content {
  padding: 1.7rem;
  background: linear-gradient(40deg, #21133d, #2e1351);
  border-radius: 100%;
}

.accordion {
  background-color: #2d195e;
  padding: 1.5rem;
  border-radius: 1rem;
}
.accordion .question {
  display: grid;
  grid-template-columns: 1fr 2.5rem;
  align-items: center;
  gap: 1rem;
  color: var(--white);
}

.accordion .question p {
  margin-bottom: 0;
}

.accordion .question img {
  max-width: 100%;
}
.accordion.open .question img {
  transform: rotate(180deg);
}
.accordion .question:hover {
  cursor: pointer;
}

.accordion .answer .content {
  padding: 1rem 1rem 0rem 1rem;
}

.accordion .answer p {
  color: var(--white);
  font-size: 1.5rem;
  line-height: 1.2;
}

.accordion .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion .answer.open {
  max-height: 800px;
}

/*header*/
section.main-menu {
  position: relative;
  z-index: 5;
  background: var(--gray);
}

header.menu {
  width: 100%;
  padding: 1.5rem 0;
}

header.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.menu a.logo img {
  height: 5rem;
}

header.menu nav ul {
  display: flex;
  gap: 4rem;
  list-style: none;
  align-items: center;
}

header.menu nav li a {
  font-weight: var(--regular);
  font-size: 1.5rem;
  color: var(--light-gray);
  padding: 0.5rem;
}

header.menu nav li a img {
  height: 2.5rem;
}

header.menu nav li a.btn-purple-pink {
  padding: 1rem 2rem;
  font-weight: var(--semi-bold);
  color: var(--white);
}

header.menu .btn-mobile-menu {
  display: none;
}

/*end header*/
/*home*/
section.home img.icon-floating {
  position: absolute;
  z-index: 10;
  width: 10rem;
  left: 1rem;
  z-index: 1;
  bottom: -8rem;
  filter: drop-shadow(0rem 0rem 1em rgba(255, 255, 255, 1)) blur(7px);
  animation: floating-home 3s ease-in-out infinite;
}
@keyframes floating-home {
  0% {
    transform: translate(0rem, 0rem);
  }
  50% {
    transform: translate(4rem, -6rem);
  }
  100% {
    transform: translate(0rem, 0rem);
  }
}
section.home {
  position: relative;
  background-color: #1d041f;
  aspect-ratio: 1.78;
}
section.home .bg_video {
  filter: hue-rotate(65deg);
}
section.home .container {
  height: 100%;
}
section.home .row {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}
section.home h1 {
  margin-bottom: 1.5rem;
}
section.home p {
  margin-bottom: 1.5rem;
}
section.home .illustration-home {
  width: 100%;
}
/*end home*/
/*details*/
section.details {
  position: relative;
  padding: 2rem 0;
}
section.details::after {
  content: '';
  background: url('../img/details-bottom.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 5rem;
  bottom: -4.99rem;
  width: 100%;
  position: absolute;
  z-index: 2;
}
section.details h2 {
  text-align: center;
  margin-bottom: 2rem;
}
section.details .boxes {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
}
section.details .box-gradient-border-content {
  font-size: 1.6rem;
  width: 30rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}
section.details .box-gradient-border-content p {
  font-size: 1.6rem;
}
/*end details*/
/*app*/
section.app {
  position: relative;
  padding: 8rem 0;
  background: #140f22;
  background-image: url('../img/bg-squares2.png');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
section.app .icon-floating {
  position: absolute;
  width: 10rem;
  bottom: -2rem;
  right: 2rem;
  filter: drop-shadow(0rem 0rem 3em rgba(255, 255, 255, 1)) blur(5px);
  z-index: 2;
  animation: floating-app 3s ease-in-out infinite;
}
@keyframes floating-app {
  0% {
    transform: translate(0rem, 0rem);
    filter: drop-shadow(0rem 0rem 3em rgba(255, 255, 255, 1)) blur(5px);
  }
  35% {
    filter: drop-shadow(0rem 0rem 2em rgba(255, 255, 255, 1)) blur(5px);
  }
  50% {
    filter: drop-shadow(0rem 0rem 3em rgba(255, 255, 255, 1)) blur(5px);
    transform: translate(-6rem, -2rem);
  }
  75% {
    filter: drop-shadow(0rem 0rem 2em rgba(255, 255, 255, 1)) blur(5px);
  }
  100% {
    transform: translate(0rem, 0rem);
    filter: drop-shadow(0rem 0rem 3em rgba(255, 255, 255, 1)) blur(5px);
  }
}
section.app .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  align-items: center;
}
section.app .col-animation {
  position: relative;
}
section.app .cellphone {
  /* width: 90%; */
  width: 23rem;
  margin-left: 10rem;
  animation: cellphone 5s ease-in-out infinite;
}
@keyframes cellphone {
  0% {
    transform: translate(0rem, 0rem);
  }
  50% {
    transform: translate(-1rem, -1rem);
  }
  100% {
    transform: translate(0rem, 0rem);
  }
}
section.app .cellphone-2 {
  position: absolute;
  width: 23rem;
  right: 5%;
  animation: cellphone2 5s ease-in-out infinite;
}
@keyframes cellphone2 {
  0% {
    transform: translate(0rem, 0rem);
  }
  50% {
    transform: translate(1rem, -1rem);
  }
  100% {
    transform: translate(0rem, 0rem);
  }
}
section.app h2 {
  margin-bottom: 2rem;
}
section.app ul {
  margin-bottom: 2rem;
}
section.app li {
  margin-bottom: 2rem;
}
section.app li:last-child {
  margin-bottom: 0rem;
}
section.app li::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: var(--pink);
  margin-right: 15px;
}
/*end app*/
/*price*/
section.price {
  position: relative;
  padding: 2rem 0;
}
section.price::before {
  content: '';
  background: url('../img/details-top.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 5rem;
  top: -4.99rem;
  width: 100%;
  position: absolute;
  z-index: 1;
}
section.price::after {
  content: '';
  background: url('../img/details-bottom.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 5rem;
  bottom: -4.99rem;
  width: 100%;
  position: absolute;
  z-index: 1;
}
section.price h2 {
  text-align: center;
  margin-bottom: 2rem;
}
section.price .boxes {
  margin: 5rem 0 5rem 0;
  justify-content: center;
  display: flex;
  gap: 2rem;
}
section.price .btn {
  margin: 0 auto;
  display: block;
  width: fit-content;
}
section.price .box-gradient-border {
  width: 25rem;
}
section.price .box-gradient-border-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.price .circle-gradient-border {
  margin-top: -5rem;
}
section.price .circle-gradient-border-content {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.price .box-gradient-border p {
  font-size: 1.5rem;
}
section.price .box-gradient-border .price-box {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: inset 0px 4px 10px #38135f;
  background: #2a1047;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  margin: 2rem 0.5rem 0rem 0.5rem;
}
section.price .box-gradient-border .price-box p {
  font-weight: var(--bold);
  font-size: 2rem;
  text-align: center;
}
/*end price*/
/*how to */
section.how-to {
  background-image: url('../img/bg-star.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  padding: 7rem 0;
}
section.how-to .row-title h2 {
  text-align: center;
  margin-bottom: 2rem;
}
section.how-to .row-title p {
  text-align: center;
  margin: 0 auto 6rem auto;
  width: 55%;
}
/* section.how-to .row-road .col {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;
}
section.how-to .row-road .col img {
  width: 20rem;
}
section.how-to .row-road .col:nth-child(even) {
  flex-direction: row-reverse;
}
section.how-to .row-road .box-gradient-border {
  width: 40rem;
}
section.how-to .row-road p.title {
  font-family: 'Urbanist', sans-serif;
  font-weight: var(--bold);
  font-size: 4.5rem;
} */
section.how-to .row-road .col {
  display: grid;
  grid-template-columns: 20rem 40rem 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
  align-items: flex-start;
}
section.how-to .row-road .col img {
  width: 100%;
  animation: moving 2s ease-in-out infinite;
}
@keyframes moving {
  0% {
    transform: translateX(-0rem) translateY(-0rem);
  }
  50% {
    transform: translateX(-0.5rem) translateY(-0.5rem);
  }
  100% {
    transform: translateX(-0rem) translateY(-0rem);
  }
}
section.how-to .row-road .col:nth-child(even) img {
  animation: moving2 2s ease-in-out infinite;
}
@keyframes moving2 {
  0% {
    transform: translateX(-0rem) translateY(-0rem);
  }
  50% {
    transform: translateX(0.5rem) translateY(0.5rem);
  }
  100% {
    transform: translateX(-0rem) translateY(-0rem);
  }
}
section.how-to .row-road .col:nth-child(even) {
  grid-template-columns: 1fr 40rem 20rem;
}
section.how-to .row-road .col:nth-child(even) .lines {
  order: 1;
}
section.how-to .row-road .col:nth-child(even) .box-gradient-border {
  order: 2;
  text-align: right;
}
section.how-to .row-road .col:nth-child(even) img {
  order: 3;
}
section.how-to .row-road .box-gradient-border {
  width: 40rem;
}
section.how-to .row-road p.title {
  font-family: 'Urbanist', sans-serif;
  font-weight: var(--bold);
  font-size: 4.5rem;
  margin-bottom: 0.5rem;
}
section.how-to .row-road .lines {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
section.how-to .row-road .lines::before {
  content: '';
  width: 75%;
  top: 25%;
  height: 3px;
  position: absolute;
  background: linear-gradient(90deg, transparent, var(--purple));
}
section.how-to .row-road .lines::after {
  content: '';
  width: 3px;
  height: 75%;
  bottom: 0;
  right: 25%;
  position: absolute;
  background: linear-gradient(0deg, transparent, var(--purple));
}
section.how-to .row-road .col:nth-child(even) .lines::before {
  content: '';
  width: 75%;
  top: 25%;
  right: 0;
  height: 3px;
  position: absolute;
  background: linear-gradient(270deg, transparent, var(--purple));
}
section.how-to .row-road .col:nth-child(even) .lines::after {
  content: '';
  width: 3px;
  height: 75%;
  bottom: 0;
  left: 25%;
  position: absolute;
  background: linear-gradient(0deg, transparent, var(--purple));
}
section.how-to .row-road .col:last-child .lines::before {
  content: '';
  width: 0;
  height: 0;
  background: none;
}
section.how-to .row-road .col:last-child .lines::after {
  content: '';
  width: 0;
  height: 0;
  background: none;
}
section.how-to .btn {
  display: block;
  width: fit-content;
  margin: 0 auto;
}
/*end how to*/
/*faq*/
section.faq {
  position: relative;
  padding: 2rem 0 7rem 0;
}
section.faq::before {
  content: '';
  background: url('../img/details-top.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 5rem;
  top: -4.99rem;
  width: 100%;
  position: absolute;
  z-index: 1;
}
section.faq img.icon-floating {
  position: absolute;
  z-index: 10;
  width: 10rem;
  left: 1rem;
  bottom: 5rem;
  filter: drop-shadow(0rem 0rem 3em rgba(255, 255, 255, 1)) blur(7px);
  z-index: 1;
  animation: floating-faq 6s ease-in-out infinite;
}
@keyframes floating-faq {
  0% {
    transform: translate(0rem, 0rem) rotate(-24deg);
  }
  50% {
    transform: translate(4rem, -6rem) rotate(-24deg);
  }
  100% {
    transform: translate(0rem, 0rem) rotate(-24deg);
  }
}
section.faq img.icon-floating2 {
  position: absolute;
  z-index: 10;
  width: 10rem;
  right: 5rem;
  top: 20%;
  filter: drop-shadow(0rem 0rem 5em rgba(255, 255, 255, 1)) blur(7px);
  animation: floating-faq2 4s ease-in-out infinite;
  z-index: 1;
}
@keyframes floating-faq2 {
  0% {
    transform: translate(0rem, 0rem) rotate(-50deg);
  }
  50% {
    transform: translate(-2rem, -3rem) rotate(-50deg);
  }
  100% {
    transform: translate(0rem, 0rem) rotate(-50deg);
  }
}
section.faq h2 {
  text-align: center;
  margin-bottom: 2rem;
}
section.faq .accordion {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
/*end faq*/
/*footer*/
footer {
  background: #180e31;
  padding: 2rem 0;
  position: relative;
}
footer::before {
  content: '';
  background: url('../img/details-top2.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 5rem;
  top: -4.99rem;
  width: 100%;
  position: absolute;
  z-index: 1;
}
footer .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer p {
  font-family: 'Urbanist', sans-serif;
  font-weight: var(--regular);
  text-align: center;
}
footer .col-logo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
footer .icons img {
  width: 4rem;
  margin-left: 1rem;
}
footer .logo {
  height: 6rem;
}
footer .menu-footer a {
  font-family: 'Urbanist', sans-serif;
  font-weight: var(--regular);
  color: var(--white);
}
footer .menu-footer li {
  margin-bottom: 2rem;
}
section.address{
  padding: 2rem 0;
  grid-column: 1/4;
  font-size: var(--regular);
  background-color: #140f22;
  text-align: center;

}
section.address p {
  font-size: 1.2rem;
  line-height: 1.5;
}
/*end footer*/
#cookie-box {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  max-width: calc(100% - 40px);
  background-color: var(--gray);
  padding:  2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 50;
}
#cookie-box.hidden {
  display: none;
}
#cookie-box p{
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
#cookie-box .button-container {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: flex-end;
}

#cookie-box button {
  background-color: var(--purple);
  color: #fff;
  font-size: 1.8rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1.2rem;
}

#cookie-box button:hover {
  background-color: var(--pink);
}

#cookie-box a{
  color: var(--pink);
  font-size: 1.6rem;
}
@media (max-width: 1400px) {
  .container {
    max-width: 1100px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
  h1 {
    font-size: 4.5rem;
  }
  p {
    font-size: 1.8rem;
  }
  /*header*/
  header.menu nav ul {
    gap: 1rem;
  }
  /*end header*/
  /*home*/
  section.home img.icon-floating {
    width: 7rem;
  }
  /*end home*/
  /*details*/
  section.details .boxes {
    flex-wrap: wrap;
  }
  /*end details*/
  /*app*/
  section.app .cellphone {
    margin-left: 0;
  }
  /*end app*/
  /*prices*/
  section.price .boxes {
    flex-wrap: wrap;
    gap: 4rem 2rem;
  }
  /*end prices*/
  /*how to*/
  section.how-to .row-road p.title {
    font-size: 4rem;
  }
  section.how-to .row-road .col {
    grid-template-columns: 15rem 40rem 1fr;
  }
  /*end how to*/
  /*footer*/
  footer .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }
  footer .col-logo {
    grid-column: 1/3;
  }
  footer .menu-footer li {
    text-align: center;
  }
  /*end footer*/
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 3rem;
  }
  a,
  p,
  li {
    font-size: 1.4rem;
  }
  /*header*/
  header.menu .btn-mobile-menu {
    background: none;
    border: 2px solid var(--pink);
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  header.menu .btn-mobile-menu div {
    width: 3.9rem;
    height: 0.4rem;
    border-radius: 20px;
    background: var(--pink);
    transition: 0.6s;
  }

  header.menu .btn-mobile-menu.active div:nth-child(1) {
    transform: translate(0px, 11px) rotateZ(45deg);
  }

  header.menu .btn-mobile-menu.active div:nth-child(2) {
    transform: scaleX(0);
  }

  header.menu .btn-mobile-menu.active div:nth-child(3) {
    transform: translate(0px, -11px) rotateZ(-45deg);
  }

  header.menu nav ul {
    display: block;
    position: absolute;
    /* width: 100%; */
    top: 9rem;
    right: 0;
    height: 0;
    transition: 0.3s all ease-in-out;
    visibility: hidden;
    overflow: hidden;
    z-index: 99;
    background: var(--gray);
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    height: auto;
    transform: scaleX(0);
    transform-origin: right;
  }

  header.menu nav.active ul {
    visibility: visible;
    transform: scaleX(1);
  }

  header.menu nav li {
    padding: 1rem 2rem;
  }
  /*end header*/
  /*home*/
  section.home p {
    font-size: 1.3rem;
  }
  @keyframes floating-home {
    0% {
      transform: translate(0rem, 0rem);
    }
    50% {
      transform: translate(2rem, -3rem);
    }
    100% {
      transform: translate(0rem, 0rem);
    }
  }
  /*end home*/
  /*details*/
  section.details .box-gradient-border-content {
    width: 23rem;
    padding: 1rem;
  }
  section.details .circle-gradient-border-content {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.details .circle-gradient-border-content img {
    width: 2rem;
  }
  /*end details*/
  /*app*/
  section.app .cellphone {
    width: 17rem;
  }
  section.app .cellphone-2 {
    width: 15rem;
  }
  section.app .icon-floating {
    width: 7rem;
    bottom: -8rem;
  }
  @keyframes floating-app {
    0% {
      transform: translate(0rem, 0rem);
      filter: drop-shadow(0rem 0rem 3em rgba(255, 255, 255, 1)) blur(5px);
    }
    35% {
      filter: drop-shadow(0rem 0rem 2em rgba(255, 255, 255, 1)) blur(5px);
    }
    50% {
      filter: drop-shadow(0rem 0rem 3em rgba(255, 255, 255, 1)) blur(5px);
      transform: translate(-2rem, -1rem);
    }
    75% {
      filter: drop-shadow(0rem 0rem 2em rgba(255, 255, 255, 1)) blur(5px);
    }
    100% {
      transform: translate(0rem, 0rem);
      filter: drop-shadow(0rem 0rem 3em rgba(255, 255, 255, 1)) blur(5px);
    }
  }
  /*end app*/
  /*how to*/
  section.how-to .row-road p.title {
    font-size: 3rem;
  }
  section.how-to .row-road .col {
    grid-template-columns: 12rem 1fr;
  }
  section.how-to .row-road .col:nth-child(even) {
    grid-template-columns: 1fr 12rem;
  }
  section.how-to .row-road .col:nth-child(even) img {
    order: 2;
  }
  section.how-to .row-road .col:nth-child(even) .box-gradient-border {
    order: 1;
  }
  section.how-to .row-road .col:nth-child(even) .lines {
    order: 2;
  }
  section.how-to .row-road .col .lines {
    grid-column: 1/3;
    height: 3rem;
  }
  /*end how to*/
  /*faq*/
  section.faq .accordion {
    width: 100%;
  }
  /*end faq*/
}

@media (max-width: 576px) {
  .container {
    max-width: 400px;
    padding: 0 1rem;
  }
  /*home*/
  section.home {
    aspect-ratio: unset;
    height: 64rem;
    padding: 1rem 0;
  }
  section.home .bg_video {
    height: 75rem;
    width: auto;
  }
  section.home .row {
    grid-template-columns: 1fr;
  }
  section.home .row .col-text {
    order: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section.home .row .col-animation {
    order: 1;
  }
  /*end home*/
  /*details*/
  section.details::after {
    height: 3rem;
    bottom: -2.99rem;
  }
  section.details .box-gradient-border-content {
    width: 30rem;
  }
  /*end details*/
  /*app*/
  section.app .row {
    grid-template-columns: 1fr;
  }
  section.app h2 {
    text-align: center;
  }
  section.app ul {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  section.app .btn {
    width: fit-content;
    display: block;
    margin: 0 auto;
  }
  /*end app*/
  /*price*/
  section.price::before {
    height: 3rem;
    top: -2.99rem;
  }
  section.price::after {
    height: 3rem;
    bottom: -2.99rem;
  }
  section.price .box-gradient-border {
    width: 30rem;
  }
  /*end price*/
  /*how to*/
  section.how-to .row-title p {
    width: 70%;
  }
  section.how-to .row-road .box-gradient-border {
    width: 100%;
  }
  section.how-to .row-road .col {
    grid-template-columns: 9rem 1fr;
  }
  section.how-to .row-road .col:nth-child(even) {
    grid-template-columns: 1fr 9rem;
  }
  /*end how to*/
  /*faq*/
  section.faq::before {
    height: 3rem;
    top: -2.99rem;
  }
  /*end faq*/
  /*footer*/
  footer::before {
    height: 3rem;
    top: -2.99rem;
  }
  /*end footer*/
  #cookie-box .button-container {
    justify-content: center;
  }
  section.address p {
    font-size: 1rem;
    line-height: 1.3;
  }
}

@media (max-width: 400px) {
}
